strong Page Details:
ul
    li
        strong template:
        | #{template}
    li
        strong filename:
        | #{fileName}
    li
        strong directory:
        | #{dirName}
    li
        strong section:
        | #{section}
    li
        strong basepath:
        | #{basePath}
    li
        strong uri:
        | #{uri}
