include ../mixins/mixins

block variables
    -var title = title || "Page title here";

doctype html
<!--[if IE 7]><html class="lt-ie10 lt-ie9 lt-ie8 no-js" id="ie7" lang="en-au"><![endif]-->
<!--[if IE 8]><html class="lt-ie10 lt-ie9 no-js" id="ie8" lang="en-au"><![endif]-->
<!--[if IE 9]><html class="lt-ie10 no-js" id="ie9" lang="en-au"><![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en-au"> <!--<![endif]-->

head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no')
    title=title
    link(rel="stylesheet",type="text/css",href=basePath+"/styles/styles.css?r=1")
    //- Important early load external scripts
    script(src=basePath+'/scripts/modernizr.min.js')
    //- Icons for browsers + mobile devices, bookmarks, etc.
    link(rel='shortcut icon', href=basePath+'/images/favicon.png')
    link(rel='apple-touch-icon-precomposed', href=basePath+'/images/apple-touch-icon-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href=basePath+'/images/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href=basePath+'/images/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href=basePath+'/images/apple-touch-icon-144x144-precomposed.png')
    //- Meta configuration for Search Engines and Facebook
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(property='og:title', content='')
    meta(property='og:type', content='article')
    meta(property='og:url', content='')
    meta(property='og:image', content=basePath+'/images/facebook.png')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
body(class=section+" "+template)
    include ../partials/header
    include ../partials/page-details
    h1=title
    block pagecontent
    //- The svg sprite sheet
    #svg-spritesheet
        include ../../../build/svgs/spritesheet.svg
    //- JavaScript libraries and UX based code
    script(src=basePath+'/scripts/app.js')
|</html>
